
207304912-Estadistica.pdf

237309726-Estadistica-Basica-Aplicada-FL.pdf

243734243-Estadistica-Descriptiva.pdf

245326901-Inferencia-Estadistica.pdf

249002897-11032014Introduccion-a-La-Inferencia-Estadistica-Aguilar-1era.pdf

*.plist

*.pdf

.idea/workspace.xml

.idea/vcs.xml

*.xml
